*.o
.deps/
/aclocal.m4
/autom4te.cache/
/build-config.h
/build-config.h.in
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/gromit-mpx
/stamp-h1
Makefile
Makefile.in
