Source: gromit-mpx
Section: x11
Priority: optional
Maintainer: Christian Beier <dontmind@freeshell.org>
Build-Depends: debhelper (>= 4.0.0), libgtk-3-dev
Standards-Version: 3.6.2

Package: gromit-mpx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GTK based tool to make annotations on screen with multiple pointers
 Gromit-MPX enables you to make annotations on your screen using 
 multiple pointing devices at once.
 .
 This is especially useful when making presentations, to highlight
 things or point out things of interest.
 .
 Gromit-MPX is XInput-Aware, so if you have a graphic tablet you can
 draw lines with different strength, color, erase things, etc.
