[Desktop Entry]
Exec=gromit-mpx
Icon=gromit-mpx
Name=Gromit-MPX
Type=Application
Comment=GRaphics Over MIscellaneous Things, a multi pointer annotation tool
Comment[pl]=Program do rysowania bezpośrednio po ekranie
Terminal=false
StartupNotify=false
Categories=Graphics;
