[Desktop Entry]
Exec=gromit-mpx
Icon=gromit-mpx
Name=Gromit-MPX
Type=Application
Comment=A multi pointer annotation tool
Terminal=false
StartupNotify=false
Categories=Graphics;
